<div class="container-fluid">
  <div class="navbar-header">
    <div>
      <a class="navbar-brand" href="">
        <img src="assets/img/FedEx_Logo.svg" />
      </a>
    </div>
    <!-- <div class="app-side-nav">
      <app-side-nav></app-side-nav>
    </div> -->
  </div>
  <div class="nav navbar-nav app-navbar">
    <app-navbar></app-navbar>
  </div>
   <div class="app-localization">
    <app-localization></app-localization>
  </div> 
  <div class="app-login">
    <app-login></app-login>
  </div>
</div>