

<div class="table-header">
  <div class="header-text">Executed Scenarios</div>
  <div class="header-buttons">
    <span class="start-execution fa fa-play" (click)="openDialog()" title="Start/Schedule New Execution"></span>
    <span class="refresh-execution fa fa-refresh" title="Refresh Execution Grid"></span>
  </div>
</div>
<div class="example-container mat-elevation-z8">
  <table #table mat-table [dataSource]="dataSource" matSort class="table table-bordered table-striped">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Exec ID </th>
      <td mat-cell *matCellDef="let element" title="Click to Expand"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="scenarioid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Profile ID </th>
      <td mat-cell *matCellDef="let element" title="Click to Expand"> {{element.scenarioid}} </td>
    </ng-container>

    <ng-container matColumnDef="wiid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Workitem ID </th>
      <td mat-cell *matCellDef="let element" title="Click to Expand"> {{element.wiid}} </td>
    </ng-container>

    <ng-container matColumnDef="scnname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="tbl-snm" ><div id="tbl-snm"> Name</div>  </th>
      <td mat-cell *matCellDef="let element" title="Click to Expand"> {{element.scnname}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="exectag">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tag </th>
      <td mat-cell *matCellDef="let element" title="Click to Expand"> {{element.exectag}} </td>
    </ng-container> -->

    <ng-container matColumnDef="startedby">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Started By </th>
      <td mat-cell *matCellDef="let element" title="Click to Expand"> {{element.startedby}} </td>
    </ng-container>

    <ng-container matColumnDef="notifyusers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="tbl-nm"> <div id="tbl-nm"> Notify</div> </th>
      <td mat-cell *matCellDef="let element" title="Click to Expand"> {{element.notifyusers}} </td>
    </ng-container>

    <ng-container matColumnDef="startdt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Execution Start Time </th>
      <td mat-cell *matCellDef="let element" title="Click to Expand"> {{element.startdt |date:'dd/MM/yyyy hh:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="enddt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Status Update Time </th>
      <td mat-cell *matCellDef="let element" title="Click to Expand"> {{element.enddt |date:'dd/MM/yyyy hh:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Status </th>
      <td mat-cell *matCellDef="let element" title="Click to Expand"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let element" title="Click to Expand">
        <span class="fa fa-retweet" title="Refresh Status"></span>
        <span class="fa fa-download" title="View/Download Attachments"></span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"  class="element-row" (click)="rowExpand(row)"
      [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"></tr>
    {{element.status}
  
    
    </table>
    <div *ngIf="isLoading" 
   style="display: flex; justify-content: center; align-items: center; ">
   <mat-spinner></mat-spinner>

</div>
    <label class= "errorTag">{{ errorStatus}}</label>
    <div class="search-results-pagination">
      <div class="col-md-8" style="float:left">
        <mat-form-field class="search-resultsVal">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" autocomplete="off"
            [(ngModel)]="filterValue" />
        </mat-form-field>
      </div>
      <div class="col-md-8" [hidden]="displayPaginator">
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 15]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
</div>

<ng-template #tpl let-element class="expanded-section">
  <tr class="mat-row detail-row" [@detailExpand]>
    <td class="expanded-td" colspan="11">
      <div *ngIf="rowData.length !== 0; else error">
        <table #rowTable class="table table-bordered table-striped row-table">
          <thead>
            <tr>
              <th class="order">Order</th>
              <th class="script">Script Key</th>
              <th class="for">For</th>
              <th class="inputs">Inputs</th>
              <th class="outputs">Outputs</th>
              <th class="status">Status</th>
              <th class="comments">Comments</th>
              <th class="retry">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of rowData">
              <td>{{ row.order }}</td>
              <td>{{ row.scriptKeyName }}</td>
              <td>{{ row.scriptKeyFor }}</td>
              <td>{{ row.scriptKeyInput }}</td>
              <td>{{ row.scriptKeyOutput }}</td>
              <td>{{ row.scriptKeyStatus }}</td>
              <td>{{ row.scriptKeyComments }}</td>
              <td>
                <span *ngIf="row.status === 'failed'" class="fa fa-retweet" title="Retry"></span>{{ row.retry }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #error><label class="errorTag">*Service error</label></ng-template>
    </td>
  </tr>
</ng-template>