.navbar-container {
    background-color: #572599;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.breadcrumb {
    padding: 8px 20px;
    margin-bottom: 0;
    background-color: #fff;
    margin-top: -6px;
}

body {
    height: auto;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content {
    padding-bottom: 50px;
}

.main-container {
    background-color: #DDDDDD;
    padding: 10px 20px;
    height: auto;
    margin-top:25px;
}

.footer {
    position: absolute;
}

@media only screen and (max-width: 1042px) {

}
@media only screen and (max-width: 909px) {

}
